<div class = "infoBox">
	<style>
	.infoImageContainer, .imageLink  { background-image: url(<%= serial.header.url(:thumb) %>); background-size: cover;background-position: center;  background-repeat: no-repeat; }
	</style>
	<%= link_to section_serial_url(serial.section_id, :id => serial.id), class: "imageLink" do  %>
	<div class = "infoImageContainer" >
	</div>
	<% end %>
	
	
	<div class = "info SerialInfo">
		<h1 class = "serialName"> <%= link_to "#{serial.name}", section_serial_url(serial.section_id, :id => serial.id)  %> <%= "#{serial.articles.length }"%></h1>
		<h2 class = "iBoxDescription serialDescription"> <%= truncate(serial.description, length: 50) %> </h2>
		<h3 class = "serialDate"> <%= serial.created_at.to_formatted_s(:long_ordinal) %> </h3>
	</div>
</div>