<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @serial.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @serial.description %>
</p>

<p>
  <strong>Section:</strong>
  <%= @serial.section %>
</p>
<%
=begin
<%= link_to 'Edit', edit_serial_path(@serial) %> |
<%= link_to 'Back', serials_path %>
=end %>