<%= form_for [@section, @commentable, @comment] do |f| %>
<% if @comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :authorable_id %><br>
  
  <%if viewer_signed_in? || user_signed_in? %>
  <%= f.hidden_field :authorable_id, value: @authorable.id, readonly:true %>
  <%= f.hidden_field :authorable, value: @authorable, readonly:true %>
  <%= text_field_tag "commentor", @authorable.screenname, readonly:true %>
  <% else %>
  <%= f.text_field :authorable_id, value: "Please sign in to comment", readonly:true %>
  <% end  %>
</div>
<!--  <div class="field">
  <%#= f.label :commentable_id %><br>
  <%#= f.text_field :commentable_id, value: @commentable %>
</div> -->
<div class="field">
  <%= f.label :content %><br>
  <%= f.text_field :content %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>