<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Authorable</th>
      <th>Commentable</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.authorable %></td>
        <td><%= comment.commentable %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', [@commentable, comment] %></td>
        <td><%= link_to 'Edit', [:edit, @commentable, comment] %></td>
        <td><%= link_to 'Destroy', [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', [:new, @section, @commentable, :comment] %>
