<% postPrefix = @section.name.parameterize.underscore.camelize(:lower) %>
<%= content_tag(:div, class: "headerContainer #{postPrefix}HeaderContainer") do %>
	<style>
	.articleHeader{ background-image: url(<%= @article.header.url %>); background-size: cover;background-position: center;  background-repeat: no-repeat; }
		</style>
		<%= content_tag(:div, class: "header articleHeader #{@section.name.parameterize.underscore.camelize(:lower)}Header") do %>
		<%= content_tag(:div, content_tag(:h1, @article.name), class: "headerTitle #{postPrefix}HeaderTitle")%>
		
		<% end %>
	<%= content_tag(:div, class: "headerDetails #{postPrefix}HeaderDetails" ) do %>
			<%= content_tag(:h2, @article.description, class: "headerDetailsText") %>
			<div class = "headerDetailsButton"></div>
			<% end %> 
			<br>

		


<% end %>
<div class="tags">
			<h2> <%= @article.tag_list %> </h2>
			<% @article.find_related_tags.each do |taggable| %>
			<h2> <%= taggable.name %> </h2>
			<%end %>
		</div>