<p id="notice"><%= notice %></p>

<%= form_tag articles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<h1>Listing Articles</h1>



<%= render partial: "articles/infoBox", collection: @articles, as: :article %>

<br>