<div class = "article">

 <%= render partial: "articleHeader", object: @article, as: :article %>
  
<div class = "content articleContent"> 
 <%= kramdown(preprocess(@article.content)) %>
</div>

</div>

<!-- 
<p> heluurr
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
 <%= @article.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= kramdown(preprocess(@article.content)) %>
</p>

<p>
  <strong>Section:</strong>
  <%= @article.section %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @article.serial %>
</p> -->
<!-- 
<div class = "infoBoxGallery">
  <%#= render "infoBox", collection: @articles, as: :article %>
  </div>
 -->




<!-- =begin
<%#= link_to 'Edit', edit_article_path(@article) %> |
<%#= link_to 'Back', articles_path %>
=end -->