<div class = "article">
	<%= render "header" %>
	
	<% if @article.datasets.size > 0 %>
	<% dSets = @article.datasets.to_a %>
	<% @dataURLs.each do |durl| %>
	<%= link_to "link text...", durl %>
	
	<%end %>
	<%  end %>
	
	<% if @article.images.size > 0 %>
	<%# @images %>
	<% @images.each do |im| %>
	<p> imgURl: <%= im.img_url %>  </p>
<!-- 	<p> imgPath: <%= im.img.current_path %>  </p>
 -->	
	<%end %>
	<%  end %>
	
	<!-- <div class="visDiv"  id="visDiv2">
		
	</div> -->
	<!-- <div class="visDiv" id="histogramDiv">
		
	</div> -->
	
	
	<div class = "content articleContent">
		<%= kramdown(preprocess(@article.content)) %>
	</div>
	
	<%= content_tag(:div, class: "commentsDiv") do %>
	<%= render "comments/showComment" %>
	<%= render 'comments/form' %>
	<p><%= link_to "New Comment", [:new, @section, @commentable, :comment]%></p>
	<% end %>
	<div
		class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
	
	<div class ="scriptDiv">
		<% content_for :articleScripts do %>
		<%= javascript_include_tag "vis", 'data-turbolinks-track' => true %>
		<% @article.scripts.each do |script| %>
		<%= javascript_include_tag script.jscript.url, 'data-turbolinks-track' => true %>
		<%# Turbolinks.visit(script.jscript.url) %>
		<%end %>
		<%end %>
		<% @article.scripts.each do |script| %>
		<%= javascript_include_tag script.jscript.url, 'data-turbolinks-track' => true %>
		<%# Turbolinks.visit(script.jscript.url) %>
		<%end %>
	</div>
</div>