<p id="notice"><%= notice %></p>


<%= render 'header'%>
<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @section.published %>
</p>


	<div class = "recentDiv recentArticlesDiv" >
		
		<div class = "infoBoxGallery">
	<%= render partial: "articles/infoBox", collection: @section.articles, as: :article %>
  </div>
 

</div>

<div class = "recentDiv recentSerialsDiv" >
	
	
	<div class = "infoBoxGallery">
		<%= render partial: "serials/infoBox", collection: @section.serials, as: :serial %>
	</div>

</div>


<!-- </div> -->
