<p id="notice"><%= notice %></p>


<%= render 'header'%>
<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @section.published %>
</p>

