<!DOCTYPE html>
<html>
    <head>
        <title>YungMorpheus | Autodidact Diaries </title>
        <%= Gon::Base.render_data({}) %>
        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        
        
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= include_gon(:init => true) %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div id="fb-root"></div>
        <%= javascript_include_tag "fbAuth" %>
        <div class = "main">
            
            <div class = "mainContent">
                <%= render "shared/siteHeader", locals: { sections: @sections} %>
                <%= yield %>
            </div>
        </div>
        <div class="scriptDiv" data-turbolinks-track = "true">
            <script type="text/javascript">   Turbolinks.allowLinkExtensions('js');</script>
        </div>
    </body>
</html>